.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-71xl);
  background-color: var(--color-whitesmoke);
  width: 315px;
  height: 81px;
}
.traveller {
  position: absolute;
  top: 26px;
  left: 94px;
  font-weight: 600;
}
.iconamoonprofileFill {
  position: absolute;
  top: 16px;
  left: 34px;
  width: 38px;
  height: 38px;
  overflow: hidden;
}
.rectangleParent {
  position: absolute;
  top: 294px;
  left: 1925px;
  width: 315px;
  height: 81px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
